body {
  font-family: sans-serif;
  margin: 50px auto;
}

form {
  display: flex;
}

#searchCity {
  flex: 1;
  margin-right: 5px;
  border-radius: 10px;
}

.body {
  margin: 15px 0;
  background: radial-gradient(
    253px at 12.6% 77.9%,
    rgb(221, 255, 214) 0.3%,
    rgb(214, 254, 254) 90.5%
  );
}

.container-total {
  width: 600px;
}

.total {
 background-color: linear-gradient(to right, rgb(243, 238, 236),rgb(143, 195, 245),rgb(223, 173, 247));
}

.card-body-footer {
  display: flex;
  justify-content: space-around;
}

.container-footer {
  text-align: center;
}

.weather {
   background-color: linear-gradient(to right, rgb(243, 238, 236),rgb(143, 195, 245),rgb(223, 173, 247));
  font-size: 30px;
  padding: 5px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
}

.temp span {
  margin: 5px 10px;
  display: inline-block;
}

.weather-body {
  display: flex;
  justify-content: space-between;
}

.weather-detail {
  padding: 8px 0;
}

.time,
.date,
.wind,
.humid {
  margin-bottom: 5px;
}

.footer {
  background-color: linear-gradient(to right, rgb(243, 238, 236),rgb(143, 195, 245),rgb(223, 173, 247));
}

.weather-today {
  margin-left: -30px;
}

.weather-today img {
  /* text-align: center; */
  margin: -5px auto;
  width: 100px;
  display: block;
}

.weather-today p {
  text-align: center;
}

.weather-temperature {
  /* flex: 1; */
  font-size: 36px;
  align-self: center;
  text-align: center;
  position: relative;
  top: -20px;
  right: 25px;
  font-weight: bold;
  margin-left: 20px;
}

.weather-temperature span {
  margin-right: -5px;
}

.weather-temperature button {
  border: none;
  border-radius: 5px;
  background-color: transparent;
  font-size: 30px;
  padding: 0;
  font-weight: 300;
}

.deg, .far {
  font-size: 18px;
  text-decoration: none;
  color: rgb(72, 48, 207);
}

#seperate {
  font-size: 18px;
  /* transform: translateY(-9px); */
}

#description {
  text-transform: uppercase;
}

#btn-group .active {
  cursor: default;
 color: rgb(72, 48, 207);
  border-radius: 5px;
}

#btn-group .active:hover {
  text-decoration: none;
}
