body {
  font-family: arial, sans-serif;
  background-color: #6291e7;
  margin: 50px auto;
}

form {
  display: flex;
}

#searchCity {
  flex: 1;
  margin-right: 5px;
  border-radius: 5px;
   border-radius: 50px;
   background: linear-gradient(to right, rgb(100, 172, 240), rgb(32, 78, 204));
   transition: all 100ms ease;
  box-shadow: rgba( 148, 171, 236, 0.09) 0px 10px 10px 0;
  cursor: pointer;
  display: inline;
}
#searchCity :hover {
  opacity: 0.9;
  display: block;
  margin: 0 auto;
  background: #31a4da;
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 2px;
  width: 100%;
}

.body {
  margin: 15px 0;
  background: radial-gradient(
    253px at 12.6% 77.9%,
    rgb(100, 172, 240) 0.3%,
    rgb(32, 78, 204) 90.5%
  );
}

.container-total {
  width: 600px;
}

.total {
  background: linear-gradient(
    13.6deg,
    rgb(80, 154, 175) 11.2%,
    rgb(100, 172, 240) 59.3%,
    rgb(32, 78, 204) 92.7%
  );
}

.card-body-footer {
  display: flex;
  justify-content: space-around;
}

.container-footer {
  text-align: center;
}

.weather {
  font-size: 25px;
  padding: 5px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
}

.temp span {
  margin: 5px 10px;
  display: inline-block;
}

.weather-body {
  display: flex;
  justify-content: space-between;
}

.weather-detail {
  padding: 8px 0;
}

.time,
.date,
.wind,
.humid {
  margin-bottom: 5px;
}

.footer {
  background: radial-gradient(
    253px at 12.6% 77.9%,
    rgb(100, 172, 240) 0.3%,
    rgb(32, 78, 204) 90.5%
  );
}

.weather-today {
  margin-left: -30px;
}

.weather-today img {
  /* text-align: center; */
  margin: -5px auto;
  width: 100px;
  display: block;
}

.weather-today p {
  text-align: center;
}

.weather-temperature {
  /* flex: 1; */
  font-size: 36px;
  align-self: center;
  text-align: center;
  position: relative;
  top: -20px;
  right: 25px;
  font-weight: bold;
  margin-left: 20px;
}

.weather-temperature span {
  margin-right: -5px;
}

.weather-temperature button {
  border: none;
  background-color: transparent;
  font-size: 30px;
  padding: 0;
  font-weight: 300;
}

.deg, .far {
  font-size: 18px;
  text-decoration: none;
  color: rgb(48, 157, 207);
}

#seperate {
  font-size: 18px;
  /* transform: translateY(-9px); */
}

#description {
  text-transform: uppercase;
}

#btn-group .active {
  cursor: default;
  background: linear-gradient(#dfeef5, #3a7bf3, #a15aa3);
}

#btn-group .active:hover {
  text-decoration: none;
}
